<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head(${pageTitle})}"></head>
<style>
  .btn-custom {
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    padding: 12px;
    text-transform: uppercase;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.2s;
  }

  .btn-custom:hover {
    transform: scale(1.05);
  }

  .btn-custom.love {
    background-color: #ffa41c;
    color: white;
  }

  .btn-custom.cart {
    background-color: #ffd814;
    color: black;
  }

  #related-products-container, #brand-products-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .card {
    scroll-snap-align: start;
  }

  .card-img-top {
    width: 100%;
    object-fit: cover;
  }

  .thumbnail-wrapper img {
    cursor: pointer;
  }

  #related-products-container::-webkit-scrollbar, #brand-products-container::-webkit-scrollbar {
    height: 8px;
  }

  #related-products-container::-webkit-scrollbar-thumb, #brand-products-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  #related-products-container::-webkit-scrollbar-thumb:hover, #brand-products-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #related-products-container, #brand-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #related-products-container .card, #brand-products-container .card {
    flex: 1 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }

  @media (max-width: 768px) {
    #related-products-container .card, #brand-products-container .card {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }


</style>
<body>
<div>
  <div th:replace="~{navigation :: navbar}"></div>

  <div class="content container-fluid px-lg-5 mt-1">
    <div th:replace="~{fragments :: breadcrumb}"></div>

    <div class="row mt-2">
      <div class="col-sm-3">
        <!-- Carousel for Main Image -->
        <div id="mainImageCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <th:block th:each="image, iterStat : ${product.orderedImages}">
              <div th:classappend="${iterStat.index == 0} ? 'active' : ''"
                   class="carousel-item">
                <img th:src="@{${image.path}}" class="d-block w-100" style="height: 360px; object-fit: contain; border-radius: 30px;" alt="main image">
              </div>
            </th:block>
          </div>
          <a class="carousel-control-prev" href="#mainImageCarousel" role="button" data-slide="prev">
            <span class="fas fa-arrow-left" style="color: black" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#mainImageCarousel" role="button" data-slide="next">
            <span class="fas fa-arrow-right" style="color: black" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <!-- Thumbnails -->
        <div class="row justify-content-center mt-3">
          <th:block th:each="image : ${product.orderedImages}">
            <div class="m-2 thumbnail-wrapper">
              <img th:src="@{${image.path}}" class="image-preview" alt="product image"
                   style="width: 64px; height: 64px; object-fit: cover; border-radius: 10px; cursor: pointer;" />
            </div>
          </th:block>
        </div>
      </div>

      <div class="col-sm mt-2">
        <div>
          <h2 class="font-weight-bold">[[${product.name}]]</h2>
        </div>


        <!-- Reviews -->
        <div class="d-flex align-items-center mt-2">
          <div class="text-warning">
            <i class="fa-star" th:classappend="${product.rating >= 1 ? 'fas' : 'far'}"></i>
            <i class="fa-star" th:classappend="${product.rating >= 2 ? 'fas' : 'far'}"></i>
            <i class="fa-star" th:classappend="${product.rating >= 3 ? 'fas' : 'far'}"></i>
            <i class="fa-star" th:classappend="${product.rating >= 4 ? 'fas' : 'far'}"></i>
            <i class="fa-star" th:classappend="${product.rating >= 5 ? 'fas' : 'far'}"></i>
          </div>
          <span class="text-muted ml-2" th:text="'(' + ${product.reviewsCount} + ')'">0 reviews</span>
        </div>

        <!-- SKU Selection -->
        <div class="mt-2">
          <label>Sản phẩm này có <strong>[[${product.availableSkus.size()}]]</strong> phân loại.</label>
          <div id="skuOptions" class="d-flex">
            <th:block th:each="sku, iterStat : ${product.availableSkus}">
              <button
                      th:id="'sku_' + ${sku.id}"
                      th:data-id="${sku.id}"
                      th:data-price="${sku.price}"
                      th:data-discount="${sku.discountPercent}"
                      th:data-discount-price="${sku.discountedPrice}"
                      th:data-stock="${sku.stockQuantity}"
                      th:data-shipping-cost="${sku.shippingCost}"
                      th:text="${sku.skuCode}"
                      th:classappend="${iterStat.index == 0} ? 'btn-primary' : 'btn-outline-primary'"
                      class="btn m-1">
              </button>
            </th:block>
          </div>
        </div>

        <div>&nbsp;</div>
        <p class="text-info font-weight-bold" style="font-style: italic">Mô tả</p>
        <div th:utext="${product.fullDescription}"></div>
      </div>

      <div class="col-sm-2 border rounded d-flex flex-column justify-content-between" style="border: gray; max-height: 600px">
        <!-- Price Display -->
        <div class="mt-3">
          <div>
            <span id="listPrice" style="font-size: large" class="font-weight-bold text-dark">$0.00</span>
          </div>
          <div id="discountContainer" class="d-none " style="font-size: larger">
            <span class="text-danger" style="font-size: small">(-<span id="discountPercent">0</span>%)</span>
            <span id="finalPrice" style="font-size: large; font-weight: bold"></span>
          </div>
        </div>

        <!-- Delivery Information -->
        <div class="mt-3">
          <div class="d-flex align-items-center">
            <i class="fas fa-map-marker-alt" style="font-size: 1.2rem;"></i>
            <span class="ml-2">Giao hàng đến Hà Nội</span>
          </div>
        </div>

        <div class="mt-3 text-left font-weight-bold">
          <span id="stockStatus">
          </span>
          </div>
        <div class="mt-3 flex-row d-flex align-items-center custom-select-wrapper">
          <label for="quantity" class="form-label mt-2 mr-2">Số lượng:</label>
          <select id="quantity" class="custom-select flex-grow-1 purchase-button">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div>
          <div class="mt-3">
            <input type="button" id="cartSubmitBtn" value="Thêm vào giỏ hàng" class="btn btn-custom cart" />
          </div>
          <div class="mt-3">
            <input type="button" value="Thêm vào yêu thích" class="btn btn-custom love" />
          </div>
        </div>

        <!-- Additional Information -->
        <div class="my-4 text-muted small">
          <div><span class="text-info font-weight-bold">Ships:</span> tranhuy105</div>
          <div><span class="text-info font-weight-bold">Sold by:</span> tranhuy105</div>
          <div><span class="text-info font-weight-bold">Returns:</span> 30-day refund/replacement</div>
          <div><span class="text-info font-weight-bold">Payment:</span> Secure transaction</div>
        </div>
      </div>
      </div>

    <div class="row">
      <div class="col-12">
        <div class="container-fluid mt-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Chi tiết sản phẩm:</h3>
              <hr/>
              <ul class="list-unstyled">
                <th:block th:each="detail : ${product.additionalDetails}">
                  <li class="mb-2">
                    <strong>[[${detail.name}]]</strong>: <span>[[${detail.value}]]</span>
                  </li>
                </th:block>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>

    <!-- Brand Information Section -->
    <div id="brand-info" class="mt-4 p-4 border-top border-bottom container-fluid">
      <h3 class="text-muted">Về thương hiệu</h3>
      <div class="d-flex align-items-center mt-4" style="cursor: pointer">
        <div class="mr-3">
          <img th:src="@{${product.brand.logo}}" alt="brand" class="rounded-circle" style="width: 100px; height: 100px; object-fit: contain">
        </div>
        <div>
          <h5 class="text-info">[[${product.brand.name}]]</h5>
          <p class="text-muted mb-1" th:text="${product.brand.description}"></p>
          <button class="btn btn-outline-secondary btn-sm">Follow</button>
        </div>
      </div>
    </div>


    <!-- Related Products Section -->
    <div id="related-products" class="mt-4 mt-lg-8">
      <h3 class="text-info font-weight-bold">Liên quan đến sản phẩm này</h3>
      <div id="related-products-container" class="d-flex overflow-auto mt-4">
      </div>
      <div class="text-center">
        <button id="loadMoreRelated" class="btn btn-outline-secondary mt-3 btn-custom-width">Xem thêm</button>
      </div>
    </div>

    <!-- Products by the Same Brand Section -->
    <div id="brand-products" class="mt-4 mt-lg-8">
      <h3 class="text-info font-weight-bold">Sản phẩm khác của [[${product.brand.name}]]</h3>
      <div id="brand-products-container" class="d-flex overflow-auto mt-4">
      </div>
      <div class="text-center">
        <button id="loadMoreBrand" class="btn btn-outline-secondary mt-3 btn-custom-width">Xem thêm</button>
      </div>
    </div>


    <div class="mt-5">
      <h3 class="text-info font-weight-bold">Đánh giá sản phẩm</h3>
      <div class="row mt-3">

        <div class="col-md-4">
          <div class="rating-overview">
            <h4 th:text="'Customer reviews ' + ${reviewStats.averageRating} + ' out of 5'"></h4>
            <p class="text-info font-weight-bold"><span th:text="${reviewStats.totalReviews}"></span> global ratings</p>
            <div th:each="percent, stat : ${reviewStats.starDistribution}" class="d-flex align-items-center mb-2 text-info">
              <span class="mr-2" th:text="${(stat.index + 1) + ' star'}"></span>

              <div class="progress flex-grow-1" style="height: 20px;">
                <div class="progress-bar" role="progressbar"
                     th:style="'width: ' + ${percent} + '%'"
                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="ml-2 text-info" th:text="${percent} + '%'"></span>
            </div>
          </div>
        </div>

        <div class="col-md-8 p-3 pl-3 pl-lg-5">
          <div id="reviewsList">
          </div>

          <!-- Pagination Links -->
          <nav aria-label="Review pagination">
            <ul class="pagination justify-content-center" id="pagination">

            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>
</div>

  <div id="settingDiv"
       th:data-currency-symbol="${CURRENCY_SYMBOL}"
       th:data-currency-position="${CURRENCY_SYMBOL_POSITION}"
       th:data-decimal-digits="${DECIMAL_DIGITS}"
       th:data-thousand-point-type="${THOUSAND_POINT_TYPE}"
       th:data-decimal-point-type="${DECIMAL_POINT_TYPE}">
  </div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Thành Công</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sản phẩm đã được thêm vào giỏ hàng thành công.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Lỗi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Có lỗi xảy ra. Vui lòng thử lại sau.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{navigation :: footer}"></div>
</body>
<script>
  let currentSelectedSkuId;
  const contextPath = "[[@{/}]]"
  const csrfHeader = "[[${_csrf.headerName}]]"
  const csrfValue = "[[${_csrf.token}]]"

  let currencySymbol;
  let currencyPosition;
  let decimalDigits;
  let parsedDecimalDigits;
  let thousandPointType;
  let decimalPointType;

  function formatCurrency(amount) {
    amount = parseFloat(amount).toFixed(parsedDecimalDigits);
    amount = amount.replace('.', decimalPointType);
    const parts = amount.split(decimalPointType);
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousandPointType);
    amount = parts.join(decimalPointType);
    if (currencyPosition === "before") {
      return currencySymbol + amount;
    } else {
      return amount + currencySymbol;
    }
  }

  $(document).ready(function () {
    const setting = $("#settingDiv");
    currencySymbol = setting.data("currency-symbol") || "$";
    currencyPosition = setting.data("currency-position") || "before";
    decimalDigits = setting.data("decimal-digits");
    parsedDecimalDigits = decimalDigits !== undefined && decimalDigits !== null ? parseInt(decimalDigits) : 2;
    thousandPointType = setting.data("thousand-point-type") === "POINT" ? "." : ",";
    decimalPointType = setting.data("decimal-point-type") === "COMMA" ? "," : ".";


    $("#cartSubmitBtn").on("click", function () {
      const quantity = $("#quantity").val();

      if (quantity > 0 && quantity < 6 && currentSelectedSkuId) {
        const url = contextPath + `cart?quantity=${quantity}&sku=${currentSelectedSkuId}`;
        $.ajax({
          type: "POST",
          url,
          beforeSend: function (xhr) {
            xhr.setRequestHeader(csrfHeader, csrfValue)
          },
          contentType: "application/json"
        }).done(function (res) {
          $('#successModal').modal('show');
        }).fail(function (res) {
          if (res.status === 401) {
            window.location.href = contextPath+"login"
          } else {
            console.log(res);
            $('#errorModal').modal('show');
          }
        })
      }
    })

    const skuQuery = $('#skuOptions button');
    const firstSkuButton = skuQuery.first();
    firstSkuButton.addClass('btn-primary').removeClass('btn-outline-primary');
    updateSkuInfo(firstSkuButton);

    skuQuery.click(function () {
      $('#skuOptions button').removeClass('btn-primary').addClass('btn-outline-primary');
      $(this).addClass('btn-primary').removeClass('btn-outline-primary');

      updateSkuInfo($(this));
    });

    function updateSkuInfo(skuButton) {
      const price = skuButton.data('price');
      const discount = skuButton.data('discount');
      const stock = skuButton.data('stock');
      const discountedPrice = skuButton.data("discount-price")
      currentSelectedSkuId = skuButton.data("id");

      const listPriceElement = $('#listPrice');

      if (discount > 0) {
        listPriceElement.addClass("strikethrough")
        listPriceElement.text('Giá gốc: '+formatCurrency(price));
        $('#finalPrice').text(formatCurrency(discountedPrice));
        $('#discountPercent').text(discount);
        $('#discountContainer').removeClass('d-none');
      } else {
        listPriceElement.removeClass("strikethrough")
        listPriceElement.text(formatCurrency(price));
        $('#discountContainer').addClass('d-none');
      }

      // Update the stock status
      const stockStatusElement = $('#stockStatus');
      if (stock > 0) {
        stockStatusElement
                .removeClass('text-danger')
                .addClass('text-success')
                .html(`Còn hàng<br/><span class="text-danger">Chỉ còn ${stock} sản phẩm trong kho (more on the way)</span>`);

        $('.purchase-button').prop('disabled', false);
      } else {
        stockStatusElement
                .addClass('text-danger')
                .removeClass('text-success')
                .text('Out of Stock');

        $('.purchase-button').prop('disabled', true);
      }
    }

    const mainImageCarousel = $('#mainImageCarousel');

    $('.image-preview').mouseover(function () {
      const index = $(this).parent().index();
      mainImageCarousel.carousel(index);
      $('.image-preview').css('border', 'none');
      $(this).css('border', '2px solid #007bff');
    }).first().css('border', '2px solid #007bff');
  });
</script>
<script>
  $(document).ready(function () {
    let relatedPage = 0;
    let brandPage = 0;
    const productId = [[${product.category.id}]];
    const brandId = [[${product.brand.id}]];

    function loadProducts(url, container, page, variable) {
      if (page > 2) {
        $(`#${container} ~ .text-center .btn`).hide();
        return;
      }

      $.ajax({
        url: contextPath + url,
        data: { id: variable, page: page },
        success: function (data) {
          if (data.length === 0) {
            $(`#${container}`).append('<p>No more products to load.</p>');
            $(`#${container} ~ .text-center .btn`).hide();
          } else {
            const containerDiv = $(`#${container}`);
            data.forEach(product => {
              containerDiv.append(`
              <div class="mx-auto card mr-3" style="width: 20vw; display: flex; flex-direction: column; border: 1px solid #ddd; border-radius: 0.25rem; overflow: hidden; transition: box-shadow 0.3s; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
                <a href="${contextPath}products/${product.alias}" class="card-link" style="text-decoration: none; color: inherit; display: flex; flex-direction: column; height: 100%;">
                  <img src="${product.imagePath}" class="card-img-top" alt="${product.name}" style="width: 100%; height: 300px; object-fit: contain;">
                  <div class="card-body" style="flex: 1; display: flex; flex-direction: column; justify-content: space-between; padding: 1rem;">
                    <div>
                      <h5 class="card-title text-wrap-two-line" style="font-size: 1.25rem; font-weight: bold; margin: 0; color: #dc3545;">${product.name}</h5>
                      <div class="d-flex align-items-center my-2">
                        <div class="text-warning">
                          <i class="fa-star ${product.discountPercent >= 1 ? 'fas' : 'far'}" style="font-size: 1rem;"></i>
                          <i class="fa-star ${product.discountPercent >= 2 ? 'fas' : 'far'}" style="font-size: 1rem;"></i>
                          <i class="fa-star ${product.discountPercent >= 3 ? 'fas' : 'far'}" style="font-size: 1rem;"></i>
                          <i class="fa-star ${product.discountPercent >= 4 ? 'fas' : 'far'}" style="font-size: 1rem;"></i>
                          <i class="fa-star ${product.discountPercent >= 5 ? 'fas' : 'far'}" style="font-size: 1rem;"></i>
                        </div>
                        <span class="text-muted ml-2" style="font-size: 0.875rem;">0 đánh giá</span>
                      </div>
                      <p class="card-text text-wrap-two-line" style="margin: 0; color: #555; font-style: italic">${product.shortDescription}</p>
                    </div>
                    <div class="text-dark mt-1">
                      <span class="${product.discountPercent > 0 ? 'strikethrough' : ''}">
                        ${formatCurrency(product.price)}
                      </span>
                      <span class="discount${product.discountPercent > 0 ? '' : ' d-none'}">
                        &nbsp;&nbsp;${product.discountPercent > 0 ? formatCurrency(product.price - (product.price * product.discountPercent / 100)) : ''}&nbsp;<span class="text-danger">(-${product.discountPercent}%)</span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>`);
            });

            if (page === 2) {
              $(`#${container} ~ .text-center .btn`).hide();
            }
          }
        }
      });
    }


    $('#loadMoreRelated').on('click', function () {
      relatedPage++;
      loadProducts('products/related', 'related-products-container', relatedPage, productId);
    });

    $('#loadMoreBrand').on('click', function () {
      brandPage++;
      loadProducts('products/by-brand', 'brand-products-container', brandPage, brandId);
    });

    loadProducts('products/related', 'related-products-container', relatedPage, productId);
    loadProducts('products/by-brand', 'brand-products-container', brandPage, brandId);
  });
</script>
<script>
  const product = [[${product.id}]];
  const totalReviewPages = [[${reviewStats.totalPages}]]

  $(document).ready(function() {
    $(document).on('click', '.pagination a', function(e) {
      e.preventDefault();
      let page = $(this).data('page');
      fetchReviews(page, product);
    });

    const $reviewList = $('#reviewsList');
    const $pagination = $("#pagination");

    function fetchReviews(page, productId) {
      $.ajax({
        url: contextPath + `products/${productId}/reviews?page=${page}`,
        method: 'GET',
        success: function(data) {
          $reviewList.empty();
          if (!data || data.length === 0) {
            let noReviewHtml = `
            <div class="text-center mt-5">
              <div class="pt-5"></div>
              <div class="alert alert-info" role="alert">
                <strong>Chưa có đánh giá</strong><br />
                Hiện tại sản phẩm này chưa có đánh giá từ khách hàng.
              </div>
            </div>`;
            $reviewList.append(noReviewHtml);
            return;
          }
          $.each(data, function(index, review) {
            let reviewHtml = `
                        <div class="media mb-3">
                            <img class="mr-3 rounded-circle" src="${review.customerAvatar}" alt="Customer avatar" width="64">
                            <div class="media-body">
                                <div class="my-0">${review.customerName}</div>
                                <small>Đánh giá lúc ${review.formatCreatedAt}</small><br />
                                <small style="color: #c45500!important">Xác nhận đã mua hàng <i class="fas fa-check"></i></small><br />
                                <small>
                                    ${renderStars(review.rating)}&nbsp;(Phân loại: ${review.productVariation})
                                </small>
                                <p class="mt-2" style="font-size: 16px">${review.content}</p>
                            </div>
                        </div>`;
            $reviewList.append(reviewHtml);
          });

          updatePagination(page, totalReviewPages);
        },
        error: function(error) {
          console.error('Error fetching reviews:', error);
        }
      });
    }

    function renderStars(rating) {
      let starsHtml = '';
      for (let i = 1; i <= rating; i++) {
        starsHtml += '<i class="fas fa-star text-warning"></i>';
      }
      for (let i = rating + 1; i <= 5; i++) {
        starsHtml += '<i class="fas fa-star text-secondary"></i>';
      }
      return starsHtml;
    }

    function updatePagination(currentPage, totalPages) {
      const maxVisiblePages = 5;
      const halfVisible = Math.floor(maxVisiblePages / 2);

      $pagination.empty();

      if (currentPage > 1) {
        $pagination.append(`<li class="page-item"><a class="page-link" href="#" data-page="${currentPage - 1}">&laquo;</a></li>`);
      } else {
        $pagination.append(`<li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>`);
      }

      if (currentPage > halfVisible + 1) {
        $pagination.append(`<li class="page-item"><a class="page-link" href="#" data-page="1">1</a></li>`);
        if (currentPage > halfVisible + 2) {
          $pagination.append(`<li class="page-item disabled"><a class="page-link" href="#">...</a></li>`);
        }
      }

      let startPage = Math.max(1, currentPage - halfVisible);
      let endPage = Math.min(totalPages, currentPage + halfVisible);

      for (let i = startPage; i <= endPage; i++) {
        let activeClass = (i === currentPage) ? 'active' : '';
        $pagination.append(`<li class="page-item ${activeClass}"><a class="page-link" href="#" data-page="${i}">${i}</a></li>`);
      }

      if (currentPage < totalPages - halfVisible) {
        if (currentPage < totalPages - halfVisible - 1) {
          $pagination.append(`<li class="page-item disabled"><a class="page-link" href="#">...</a></li>`);
        }
        $pagination.append(`<li class="page-item"><a class="page-link" href="#" data-page="${totalPages}">${totalPages}</a></li>`);
      }

      if (currentPage < totalPages) {
        $pagination.append(`<li class="page-item"><a class="page-link" href="#" data-page="${currentPage + 1}">&raquo;</a></li>`);
      } else {
        $pagination.append(`<li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>`);
      }
    }


    fetchReviews(1, product);
  });

</script>
<script th:src="@{/js/search.js}"></script>
</html>