<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="fragment" th:remove="tag">
    <div class="info mt-4">
        <h4>Image Management</h4>
        <p>
            Use this section to manage your images. You can view the current images, remove unwanted ones, or add new images.
            Simply click <span class="highlight">"Remove"</span> to delete an image or <span class="highlight">"Undo"</span> if you change your mind.
            You can also add more images by clicking the <span class="highlight">"Add More Images"</span> button.
            Additionally, select one image as the <span class="highlight">"Main Image"</span> for the product.
        </p>
    </div>

    <div id="imageContainer" class="row">
        <div th:each="image, iterStat : *{images}" class="col-md-3 mb-3" th:id="'imageSection' + ${iterStat.index}">
            <div class="card image-container keep" th:data-id="${image.id}" th:data-name="${image.name}" th:data-instruction="'keep'"
                 th:data-main="${image.isMain}">
                <img th:src="@{${image.path}}" class="card-img-top img-fluid" alt="Image">
                <div class="card-body text-center">
                    <button type="button" class="btn btn-danger removeImageButton">
                        <i class="fas fa-trash"></i> Remove
                    </button>
                    <button type="button" class="btn btn-secondary undoImageButton" style="display: none;">
                        <i class="fas fa-undo"></i> Undo
                    </button>
                    <div class="form-check mt-3">
                        <input class="form-check-input mainImageCheckbox" type="checkbox" name="mainImage"
                               th:checked="${image.isMain}" />
                        <label class="form-check-label font-weight-bold">Main Image</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-secondary" id="addImageButton">Add More Images</button>
    </div>
    <input type="file" id="imageInput" accept="image/png, image/jpeg" style="display: none;" multiple>
    <input type="file" id="imageList" name="imageList" accept="image/png, image/jpeg" style="display: none;" multiple>
    <input type="hidden" id="imageInstructions" name="imageInstructions">
</div>
</body>
</html>
