<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: page_head(${pageTitle})}"></head>
<head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
    <script type="text/javascript" th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="~{navigation :: menu}"></div>

        <div class="mb-4 mt-2">
            <h2>Manage Products | [[${pageTitle}]]</h2>
        </div>

        <form th:action="@{/products}" method="post"
              th:object="${productDTO}"
              enctype="multipart/form-data"
              id="productForm"
        >
            <input type="hidden" th:field="*{id}" />
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" role="tab" href="#basic">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#sku">Stock-keeping Unit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#images">Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#details">Additional Details (Optional)</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active p-3"  id="basic" role="tabpanel" >
                        <div th:replace="~{products/product_overview :: fragment}"></div>
                    </div>
                    <div class="tab-pane" id="sku" role="tabpanel">
                        <div th:replace="~{products/product_skus :: fragment}"></div>
                    </div>
                    <div class="tab-pane" id="images" role="tabpanel">
                        <div th:replace="~{products/product_images :: fragment}"></div>
                    </div>
                    <div class="tab-pane text-center m-3" id="details" role="tabpanel">
                        <div class="info mt-4 text-left">
                            <h4>Add additional detail to your product</h4>
                            <p>
                                Manage the additional details of your product below. Each detail consists of a <span class="highlight">"Name"</span> and a corresponding <span class="highlight">"Value"</span>.
                                You can edit these fields directly or remove a detail by clicking the <span class="highlight">"Trash"</span> button.
                                <br/>
                                <strong>Example:</strong> If you're adding a product like a T-shirt, a detail might have the <mark>Name</mark> "Material" and the <mark>Value</mark> "100% Cotton".
                            </p>
                        </div>
                        <div id="productDetailContainer" class="card text-left">
                            <div th:replace="~{products/product_details :: fragment}"></div>
                        </div>
                        <input type="button" class="btn btn-primary w-100 mt-3" value="Add More Detail" onclick="addNextDetailSection()">
                    </div>

                </div>
            </div>

            <div class="text-center mt-5">
                <input type="submit" value="Save" class="btn btn-primary mr-3"/>
                <input type="button" value="Cancel" class="btn btn-secondary" id="btnCancel"/>
            </div>
        </form>

        <div th:replace="~{navigation :: footer}"></div>
    </div>
</body>
<script>
    moduleURL = "[[@{/products}]]"

    $(document).ready(function () {
        $("#shortDescription").richText();
        $("#fullDescription").richText();
    })

    function addNextDetailSection() {
        const htmlDetailSection = `
        <div class="card-body"">
                <div class="form-row align-items-center">
                    <input type="hidden" name="detailID" th:value="${null}" />
                    <div class="col-5">
                        <label class="col-form-label">Name:</label>
                        <input type="text" class="form-control" name="detailName" placeholder="Detail Name"/>
                    </div>
                    <div class="col-5">
                        <label class="col-form-label">Value:</label>
                        <input type="text" class="form-control" name="detailVal" placeholder="Detail Value"/>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-danger mt-4" onclick="removeDetailSection(this)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
            </div>
        </div>
        `

        $("#productDetailContainer").append(htmlDetailSection)
    }

    function removeDetailSection(button) {
        $(button).closest('.card-body').remove();
    }
</script>
<script type="text/javascript" th:src="@{/js/product_form_images.js}"></script>
<script type="text/javascript" th:src="@{/js/product_form_skus.js}"></script>
<script type="text/javascript" th:src="@{/js/common_user_form.js}"></script>
</html>