<!DOCTYPE html>
<html lang="en">
<head th:fragment="page_head(title)">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>[[${title}]] - [[${SITE_NAME}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<!--    <script type="text/javascript" th:src="@{/js/common.js}"></script>-->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <div th:fragment="breadcrumb" th:if="${categoryParents != null && !categoryParents.isEmpty()}">
        <div class="row">
            <div class="col">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/categories}">Home</a>
                        </li>

                        <th:block th:each="parent : ${categoryParents}">
                            <li class="breadcrumb-item">
                                <a th:href="@{'/categories/' + ${parent.alias}}">[[${parent.name}]]</a>
                            </li>
                        </th:block>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <span th:fragment="format-price(price)" th:remove="tag">
        <span th:if="${CURRENCY_SYMBOL_POSITION != 'after'}">
                <span>
                    [[${CURRENCY_SYMBOL}]][[${#numbers.formatDecimal(price, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
                </span>
            </span>
            <span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}">
                <span>
                    [[${#numbers.formatDecimal(price, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]][[${CURRENCY_SYMBOL}]]
                </span>
            </span>
    </span>

    <div th:fragment="product-price"
         class="d-flex justify-content-between align-items-center"
         th:classappend="${product.discountPercent == 0 ? 'mt-2' : ''}">

        <span class="font-weight-normal">
            <!-- Conditional placement of the currency symbol based on CURRENCY_SYMBOL_POSITION -->
            <span th:if="${CURRENCY_SYMBOL_POSITION != 'after'}">
                <span th:classappend="${product.discountPercent > 0 ? 'strikethrough text-muted' : 'font-weight-bold'}">
                    [[${CURRENCY_SYMBOL}]][[${#numbers.formatDecimal(product.price, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
                </span>
                &nbsp;
                <span th:if="${product.discountPercent > 0}"
                      class="italic"
                      style="font-size: 24px!important;">
                    [[${CURRENCY_SYMBOL}]][[${#numbers.formatDecimal(product.discountedPrice, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
                </span>
            </span>
            <span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}">
                <span th:classappend="${product.discountPercent > 0 ? 'strikethrough text-muted' : 'font-weight-bold'}">
                    [[${#numbers.formatDecimal(product.price, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]][[${CURRENCY_SYMBOL}]]
                </span>
                &nbsp;
                <span th:if="${product.discountPercent > 0}"
                      class="italic"
                      style="font-size: 24px!important;">
                    [[${#numbers.formatDecimal(product.discountedPrice, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]][[${CURRENCY_SYMBOL}]]
                </span>
            </span>
        </span>

            <span th:if="${product.discountPercent > 0}"
                  class="text-danger"
                  th:text="'- ' + ${product.discountPercent} + '%'">
            0% Off
        </span>
    </div>
</body>
</html>