<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: page_head(${pageTitle})}"></head>
<body>
<div th:replace="~{navigation :: navbar}"></div>

<div class="content container-fluid">
    <div th:if="${categoryParents != null && !categoryParents.isEmpty()}">
        <div class="row">
            <div class="col">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/categories}">Home</a>
                        </li>

                        <th:block th:each="parent : ${categoryParents}">
                            <li class="breadcrumb-item">
                                <a th:href="@{'/categories/' + ${parent.alias}}">[[${parent.name}]]</a>
                            </li>
                        </th:block>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div th:if="${category.children != null && !category.children.isEmpty()}" class="row mb-5">
        <div class="col">
            <h4 class="mb-4">Khám phá thêm [[${category.name}]]</h4>
            <div class="row">
                <div th:each="child : ${category.children}" class="col-lg-2 col-md-3 mb-4">
                    <div class="card shadow-sm">
                        <a th:href="@{'/categories/' + ${child.alias}}" class="text-decoration-none">
                            <img th:src="@{${child.imagePath}}" alt="[[${child.name}]]" class="card-img-top" style="height: 150px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h5 class="card-title">[[${child.name}]]</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="full-view">
        <h4 >Sản phẩm</h4>
        <div class="row mx-1 mt-2">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4" th:each="product : ${productLists}">
                <div class="card border-light shadow-sm bg-white card-hover" style="cursor: pointer">
                    <a style="display: none;" th:href="@{'/products/' + ${product.alias}}" class="card-link"></a>
                    <div th:if="${product.images.size() > 0}" th:id="'carouselExampleControlsTh_' + ${product.id}" class="carousel slide">
                        <div class="carousel-inner">
                            <div th:each="image, iterStat : ${product.images}" class="carousel-item" th:classappend="${iterStat.index == 0 ? 'active' : ''}">
                                <img th:src="@{${image.path}}" class="d-block w-100" style="aspect-ratio: 7/8; object-fit: cover" alt="Product Image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" th:href="'#carouselExampleControlsTh_' + ${product.id}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" th:href="'#carouselExampleControlsTh_' + ${product.id}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div th:if="${product.images.size() == 0}">
                        <img th:src="@{/images/default_user.jpg}" class="d-block w-100" style="aspect-ratio: 7/8; object-fit: cover" alt="Product Image">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${product.name} + ' (' + ${product.id} + ')'" style="color: #007bff; font-size: 1.25rem; font-weight: bold;">Product Name</h4>
                        <p class="card-text">
                            <strong>Category:</strong> <span th:text="${product.category.name}">Category Name</span><br/>
                            <strong>Brand:</strong> <span th:text="${product.brand.name}">Brand Name</span>
                        </p>
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-baseline mb-2" th:if="${product.discountPercent > 0}">
                                <h5 class="mb-0 text-muted" style="text-decoration: line-through; opacity: 70%; font-size: medium" th:text="'$' + ${product.price}">$0.00</h5>
                                <h3 class="text-danger mb-0 ml-2" th:text="'$' + ${product.price * (1 - product.discountPercent / 100)}">$0.00</h3>
                            </div>
                            <div class="d-flex align-items-center mb-2" th:if="${product.discountPercent > 0}">
                                <span class="badge badge-danger" th:text="${product.discountPercent + '% OFF'}">0% OFF</span>
                            </div>
                            <div th:if="${product.discountPercent == 0}" class="mt-2 mb-4">
                                <h3 class="mb-0 text-primary" th:text="'$' + ${product.price}">$0.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <a th:href="@{'/products?category=' + ${category.alias}}" class="btn btn-primary">Xem thêm</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{navigation :: footer}"></div>
<script>
    $(document).ready(function() {
        $('.card').click(function(e) {
            if (!$(e.target).closest('.btn-action').length && !$(e.target).closest('.carousel-control-prev').length && !$(e.target).closest('.carousel-control-next').length) {
                window.location.href = $(this).find('.card-link').attr('href');
            }
        });
    });
</script>
</body>
</html>