<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: page_head('My Account')}"></head>
<body>
    <div class="container-fluid">
        <div th:replace="~{navigation :: menu}"></div>

        <form th:action="@{/account}" method="post" style="max-width: 900px; margin: 0 auto"
              th:object="${user}"
              enctype="multipart/form-data"
        >
            <div class="text-center m-4">
                <h2>Your Account Detail</h2>
            </div>

            <div th:if="${message != null}" class="alert alert-success text-center">
                [[${message}]]
            </div>

            <input type="hidden" th:field="*{id}"/>
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">E-mail:</label>
                    <div class="col-sm-8">
                        <input type="email" readonly th:field="*{email}" class="form-control" required minlength="2" maxlength="128"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="45"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last Name:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{lastName}" class="form-control" required minlength="2" maxlength="45"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" th:field="*{password}" class="form-control" minlength="6" maxlength="20"
                               placeholder="leave blank if you want to keep the old password"
                               oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                        />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Confirm Password:</label>
                    <div class="col-sm-8">
                        <input type="password" id="confirmPassword" class="form-control"
                               oninput="checkPasswordMatch(this)"
                        />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Assigned Roles:</label>
                    <div class="col-sm-8">
                        <span><b>[[${user.roles}]]</b></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Avatar:</label>
                    <div class="col-sm-8">
                        <input type="hidden" th:field="*{avatar}">
                        <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="form-control-file mb-2">
                    </div>
                </div>

                <div class="mt-3 text-center">
                    <img id="thumbnail" alt="avatar preview" class="img-thumbnail"
                         style="width: 250px; height: 250px; object-fit: cover; border-radius: 75%;" th:src="@{${user.avatarPath}}"
                    />
                </div>

                <div class="text-center mt-3">
                    <input type="submit" value="Save" class="btn btn-primary mr-3" />
                    <input type="button" value="Cancel" class="btn btn-secondary" id="btnCancel"/>
                </div>
            </div>
        </form>

        <div th:replace="~{navigation :: footer}"></div>
    </div>
</body>

<script type="text/javascript">
    moduleURL = "[[@{/}]]"

    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value !== $("#password").val()) {
            confirmPassword.setCustomValidity("Password do not match!");
        } else {
            confirmPassword.setCustomValidity("");
        }

    }
</script>
<script type="text/javascript" th:src="@{/js/common_user_form.js}">

</script>
</html>