<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="fragment" th:remove="tag">
  <form th:action="@{/settings}" method="post">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Site Name:</label>
      <div class="col-sm-8">
        <input name="SITE_NAME" th:value="${SITE_NAME}" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Site Url (For Mail):</label>
      <div class="col-sm-8">
        <input name="SITE_NAME" th:value="${SITE_URL}" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Copyright:</label>
      <div class="col-sm-8">
        <input name="COPYRIGHT" th:value="${COPYRIGHT}" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Main Site Setting Cache Refresh Interval:</label>
      <div class="col-sm-8">
        <input name="CACHE_REFRESH_INTERVAL" th:value="${CACHE_REFRESH_INTERVAL}" type="number" min="30000" class="form-control"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Currency Type:</label>
      <div class="col-sm-8">
        <select name="CURRENCY_ID" class="form-control">
          <th:block th:each="currency : ${currencyList}">
            <option th:value="${currency.id}" th:selected="(${CURRENCY_ID} == ${currency.id})">[[${currency.display}]]</option>
          </th:block>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Currency Symbol Position:</label>
      <div class="col-sm-8">
        <select name="CURRENCY_SYMBOL_POSITION" class="form-control">
          <option value="before" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'before')">Before price</option>
          <option value="after" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'after')">After price</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Decimal Point Type:</label>
      <div class="col-sm-8">
        <select name="DECIMAL_POINT_TYPE" class="form-control">
          <option value="POINT" th:selected="(${DECIMAL_POINT_TYPE} == 'POINT')">Point (.)</option>
          <option value="COMMA" th:selected="(${DECIMAL_POINT_TYPE} == 'COMMA')">Comma (,)</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Decimal Digits:</label>
      <div class="col-sm-8">
        <select name="DECIMAL_DIGITS" class="form-control">
          <option value="0" th:selected="(${DECIMAL_DIGITS} == 0)">0</option>
          <option value="1" th:selected="(${DECIMAL_DIGITS} == 1)">1</option>
          <option value="2" th:selected="(${DECIMAL_DIGITS} == 2)">2</option>
          <option value="3" th:selected="(${DECIMAL_DIGITS} == 3)">3</option>
          <option value="4" th:selected="(${DECIMAL_DIGITS} == 4)">4</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Thousands Point Type:</label>
      <div class="col-sm-8">
        <select name="THOUSANDS_POINT_TYPE" class="form-control">
          <option value="POINT" th:selected="(${THOUSAND_POINT_TYPE} == 'POINT')">Point (.)</option>
          <option value="COMMA" th:selected="(${THOUSAND_POINT_TYPE} == 'COMMA')">Comma (,)</option>
        </select>
      </div>
    </div>

    <div class="text-center mt-3">
      <input type="submit" value="Save General Setting." class="btn btn-primary mr-3" />
    </div>
  </form>
</div>
</body>
</html>